<div class="container">
    <h2> Nossotros somos, we're</h2>
    <p>
        Suspendisse id sem porttitor, hendrerit elit eu, rhoncus felis. Morbi sit amet placerat arcu. Sed dapibus justo et vulputate imperdiet. Quisque vestibulum vulputate nunc, id iaculis metus. Duis id augue sit amet erat elementum aliquet semper imperdiet lorem. Nulla id augue nisi. Vestibulum faucibus, ipsum vel ullamcorper euismod, nisi nulla venenatis purus, ac ullamcorper leo nibh sit amet mi. Aliquam iaculis dolor at enim iaculis faucibus. Sed nec tellus vel mauris placerat lobortis at at felis. Curabitur condimentum ultricies tortor at dignissim. Nulla dolor neque, gravida eget augue eget, ornare egestas orci. Donec quis augue et urna ultricies dictum.
    </p>
</div>


